$green: #21baab;
$font-color: black;
$invert-color: white;
$font-size: 16px;
$opacity-hover: 0.6;
$opacity-active: 0.3;
$tablet: 768px;
$desktop: 1300px;
$mobile-width-only: 767px;
$retina-dppx: 1.5dppx;
