.language{
    grid-area: language;
    margin-bottom: 1rem;
}

.language li{
    display: inline-block;
    background-color: $green;
    color: $invert-color;
    margin: 0.2rem;
    padding: 0.6rem;
    border-radius: 5%;
}
.language li:hover{
    background-color: $font-color;
}