.name{
  grid-area: name;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  justify-content: flex-start;
  border-bottom: 5px solid $green;
  text-align: center;
  flex-wrap: wrap;
}
.presentation p{
  text-align: justify;
  font-size: 0.6rem;
}
.photo_image {
  border: 5px solid $green;
  border-radius: 50%;
  margin-bottom: 1rem;
}
.contact{
  grid-area: contact;
  border-bottom: 5px solid $green;
}
.contact li{
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-bottom: 0.3rem;
}
.contact ul{
  margin-bottom: 1rem;
}
.contact li:hover{
  color: $green;
}
.contact svg{
  margin-right: 0.5rem;
}
.contact svg:hover{
  fill: $green;
}
@media (min-width:900px){
  .contact{
    border-bottom: none;
    margin: 3rem;
  }

  .contact h4{
    display: none;
  }

  .presentation p{
    text-align: justify;
    font-size: 1rem;
  }
   
}
@media (min-width: 1200px) {
  .name{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    grid-area: name;
    border-bottom: 5px solid $green;
    padding-bottom: 1.3rem;
  }
  .contact{
    grid-area: contact;
    border-bottom: 5px solid $green;
    padding-left: 3rem;
    padding-top: 1.7rem;
    padding-bottom: 4.5rem;
  }
 
  .presentation{
    width: 60%;
  }
  .contact li{
    justify-content: flex-end;
  }
  .contact svg{
    margin-left: 0.5rem;
  }
  
}