.resume{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "expierence general_skill"
    "expierence soft_skill"
    "expierence language"
    "expierence course"
    "expierence project"
    "education interest"
}
