.signature{
    box-sizing: border-box;
    margin: 0 2rem 2rem 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
    font-size: 0.5rem;  
}
.signature_text{
    margin: 0;
    padding:0;
    text-align: justify;
 }

@media (min-width: 900px) {
.signature{
    margin:0;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 0.8rem;
}
.signature_text{
   text-align: justify;
   text-indent: 20px;
}
}